.container {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}
p {
 grid-row: 2/span 3;
}

.contact-image img{
  max-width:25vw;
  align-content: center;
  height:auto;
}

.contact{
  height: 100vh;
  width: 100vw;    
   /*Your code here */
}
@media screen and (min-width: 800px){
	.contact-image img{
    max-width:25vw;
    align-content: center;
    height:auto;  
  }

  .contact{
    
    height: 100vh;
    width: 100vw;  
   }

} 