html{
    scroll-behavior: smooth;
}

body{
  background-color: #fff2f3;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
h1{
  color: #3A405A;
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline-grid;
  padding-left: 20px;
  padding-right: 20px;
  /*Your code here */
}

nav a{
  color: #3A405A;
  font-weight: bold;
  text-decoration: none; /*Your code here - remove the underline*/
}

nav a:hover{
  text-decoration:underline; /*Your code here - add the underline*/
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}


:focus{
  border:2px solid black;
}


footer{
  color: #3A405A;
  width: 100vw;
  height: 20vh;
  padding-top: 30px;
  text-align: center;
}


.container{
  display: grid;
  grid-template-columns: 100px 500px 100px;
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto 100px; 
  width: 100vw; 
}
.nav{
  overflow: hidden;
  vertical-align: middle;
  top:0;
  width:100%;
  display: block;
  position: fixed;
  background-color: #E9AFA3;
  padding: 20px 0; 
  text-align: left; 
  margin: auto;
}

header{
  height: 100vh;
  width: 100vw;               
}

header p{
  color: #3A405A;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  max-width:100%;
  height:auto;
  overflow: hidden;
  /*Your code here */

}

.research-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.about{
  height: 100vh;
  width: 100vw;    
  /*Your code here */
}

.design-image{
  max-width:100%;
  height:auto;
}

.design{
  height: 100vh;
  width: 100vw;    
    /*Your code here - start in the 2nd column*/
}

.research-image{
  max-width:100%;
  height:auto;
}

.research{
  height: 100vh;
  width: 100vw;    
 /*Your code here */
}

.contact-image{
  max-width:100%;
  height:auto;
}

.contact{
  height: 100vh;
  width: 100vw;    
   /*Your code here */
}

.text-block{
  align-self: center;
  vertical-align: middle;
   /*Your code here */
  
  background-color: #99B2DD;
  border: white;
  padding: 30px;
}



@media screen and (min-width: 800px){

  .container{
    /*Your code here */
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
    grid-template-columns: 50px auto 500px auto 50px;
  }

  .nav{
    background-color: #ddd;

     /*Your code here */
     text-align: center;
     overflow: hidden;
    vertical-align: middle;
    top:0;
    width:100%;
    /*grid-column: 1/-1;
    grid-row: 1/span 1;*/
    display: block;
    position: fixed;
    /*Provided*/
    background-color: #E9AFA3;
    padding: 20px 0; 
    text-align: left; 
    margin: auto;
  }

  .about-image{
     /*Your code here */
    max-width:100%;
    height:auto;
    }

  .about{
    height: 100vh;
  width: 100vw;  
    /*Your code here */
  }

  .design-image{
  max-width:100%;
  height:auto;
    /*Your code here */
  }

  .design{
    height: 100vh;
    width: 100vw;  
    /*Your code here */
  }

  .research{
    height: 100vh;
    width: 100vw;  
    /*Your code here */
  }

  .contact-image{
    max-width:100%;
    height:auto;  
  }

  .contact{
    
    height: 100vh;
    width: 100vw;  
   }

} 

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: auto;
    transition: auto;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
